<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service behaviorConfiguration="mexBehavior" name="Services.MainService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082/Service" />
						<add baseAddress="net.tcp://localhost:8081/Service" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" contract="Services.IMainManager" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
